{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'forms.css'%}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang=" en ">
<head>
<title >{% block title %}Task management system{% endblock %}</title>
</head>
<body>
    <button class ="other-button" onclick="window.location.href = '/';">Home</button>
    {% if user.is_authenticated %}
    <button class ="other-button" onclick="window.location.href = '/tasks/';">Tasks</button>
    <button class ="other-button" onclick="window.location.href = '/logout/';">Logout</button>
    {% endif %}
    {% if not user.is_authenticated %}
    <button class ="other-button" onclick="window.location.href = '/login/';">Login</button>
    {% endif %}
    {% block content %}{% endblock %}

  <!-- {% bootstrap_javascript %} -->
</body>
</html>