{% extends "base_template.html" %}


{% block content %}

{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'tasks/view_tasks.css'%}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


<div class="container">
    <h2>Tasks</h2>

    <!-- <form method="get">
      <div class="filter-label">
          <label class="label filter category" for="category">Filter by title:</label>
          <div class="input-col">

            <select name="title" id="title-dropdown" value="{{ request.GET.tasks }}">
              <option value="{{ tasks.id }}">
                  None
              </option>

              {% for t in tasks %}
                  <option value="{{ tasks.id }}" >
                      {{ t.title }}
                  </option>
              {% endfor %}

          </select>
          </div>
          <label class="label filter name" for="category">Filter by assigned person:</label>
          <div class="input-col">
              
            <select name="assigned_person" id="assigned_person" value="{{ request.GET.assigned_person }}">
              <option value="{{ t.id }}">
                  None
              </option>

              {% for task in tasks %}
                  <option value="{{ t.id }}" >
                      {{ category.name }}
                  </option>
              {% endfor %}

            </select>

          </div> 
      </div>
          <button class="link filter-btn" type="submit">Filter</button>
    </form> -->

    <table class="tasks-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Assigned person</th>
                <th>Completed</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            {% if tasks %}
            <ul>
            {% for n in tasks %}
            <tr data-deadline="{{ n.deadline|date:'Y-m-d' }}" task-assigned-user="{{ n.user }}" task-assigned-completed="{{ n.completed }}">
                <td><a href="/tasks/{{ n.id }}/">{{ n.title }}</a></td>
                <td>
                {{ n.description }}
                </td>

                <td>
                {{ n.user }}
                </td>

                <td>
                {% if n.completed == True %}
                Yes
                {% else %}
                No
                {% endif %}
                </td>

                <td class="last-col">
                {{ n.deadline }}
                </td>
            </tr>
            {% endfor %}
            </ul>
            {% else %}
            <p>No tasks are available</p>
            {% endif %}
        </tbody>
    </table>
    <form action="/tasks/add/" method="POST">
        {% csrf_token %}
        <button class="link add-new-task-btn" type="submit" name="action" value="Add a task">Add new task</button>
    </form>
</div>

<!-- popup -->
    <div class="popup-taskReminder" id="taskReminder">
          <div class="content-popup">
    
            <div class="header-popup">
              <h5 class="header-popup-title" id="taskReminderModalLabel">Task Reminder</h5>
              <button id="popup-close-header" class="close">&times;</button>
            </div>
    
            <div class="body-popup">
              <p id="body-popup-message"></p>
            </div>
    
            <div class="footer-popup">
              <button id="popup-close-footer" class="close">Close </button>
            </div>
    
          </div>
      </div>

<!-- pass the info (username) on currently logged user to js -->
<script>
    const loggedUser = "{{ logged_user|escapejs }}";
</script>

<script src="{% static 'tasks/js/deadline_popup.js' %}">
  </script>

{% endblock %}